

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



.navbar{
 border-style:none;
 margin-bottom: 0px;
 opacity: 60%;
}

.jumbotron{
    text-align: center;
    border: 2px solid #222;
    border-left: none;
    border-right: none;
}

#headerjum{
background: url(../img/cover.JPG) no-repeat center center;
height: 400px;
background-size: cover;
}

#praktijkjum{
background: url(../img/praktijk_binnen.JPG) no-repeat center center;
height: 400px;
background-size: cover;    
}

#pedijum{
    background: url(../img/hardloopschoenen.jpg) no-repeat center center;
    height: 400px;
background-size: cover;
}


#prijslijstjum{    
background: url(../img/rik_stoel.jpg) no-repeat center center;
height: 400px;
background-size:cover;
}

#behandeljum{
    background: url(../img/praktijk/praktijk_1.JPG) no-repeat center center;
    height: 400px;
    background-size: cover;
}


#overjum{
    background: url(../img/SDC12695.JPG) no-repeat center center;
    background-size: cover;
    height: 400px;
}

.jumbotron h1{
 display:inline;
 color: rgba(255,255,255,0.7);
 font-family: 'Oswaldo', sans-serif;
 /**text-transform: uppercase;**/
 font-weight: 700;
}

.jumbotron p{
 font-weight: 300;
 color: #fff;
}

#headerjum .btn{
 border: 1px solid #fff;
 color: #fff;
}


.navbar .navbar-collapse {
        text-align: center;
}

.lead{
    margin-bottom: 0px;
}

.tabelp{
    font-size:13px;
    width: 70%;
}

.table>tbody>tr>td{
    vertical-align: middle;
}

@media (min-width: 768px) {
    #pic{
        width: 300px;
        height: 300px;
    }
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
            }
}

@media (min-width: 1200px) {
  .container {
    width: 1020px;
  }

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    text-decoration: #5cb85c;
}


.navbar-brand img{
    height:180%;
}

@media(max-width: 600px){
    h1{
        font-size: 26px;
    }
}

.map{
    margin: 0 auto;
    height: 400px;
}

#contactscontainer{
    display: inline-block;
}


.pasfoto{
    text-align: center;
}

/* voor de slider */


