/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25-jul-2016, 16:21:58
    Author     : Bart Ziengs
*/
/* Sweep To Right */
.img-circle {
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 75%;
  display: inline-block;
  padding: 2px; }
  .img-circle:hover {
    opacity: 0.5; }

body {
  counter-reset: counter; }

#prijslijst h2 {
  text-align: center; }

#riena {
  width: 30%;
  margin-bottom: 20px; }
  #riena:hover {
    opacity: 1; }

.pasfoto {
  text-align: center; }

#over {
  text-align: center; }
  #over .h3 {
    text-align: center;
    margin-bottom: 30px; }

.row imghover {
  opacity: 0.2; }

.col-md-4 {
  text-align: center; }

#plek {
  height: 400px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.indexrondjes {
  float: none; }

.fototekst {
  min-height: 115px; }

footer {
  margin: 175px auto 0 auto;
  background-color: #ccc;
  border: 2px solid #222;
  border-left: none;
  border-right: none; }

.lijn {
  border-top: 5px solid #aba;
  padding-top: 20px;
  margin: 30px auto 0px auto; }

.voettekst p {
  text-align: left;
  margin: 15px 0; }

#contactscontainer {
  margin: 0 auto;
  display: inline-block; }

#provoetlogo {
  width: 50%; }

.img-voettekst {
  display: inline-block; }

.voettekst {
  padding: 20px 0;
  min-height: 200px; }

#provoet {
  text-align: center;
  margin: 0 0; }

#rechsts {
  text-align: right; }

.row {
  margin-bottom: 25px; }

#fotospraktijk h2 {
  text-align: center;
  font-family: '', sans-serif; }
#fotospraktijk p {
  text-align: center; }

@media (max-width: 992px) {
  #fotospraktijk img {
    margin-bottom: 20px; }
  #fotospraktijk .row {
    margin-bottom: 0px; } }
@media (max-width: 992px) {
  #behandeljum h1 {
    font-size: 55px; } }
@media (max-width: 768px) {
  #behandeljum h1 {
    font-size: 24px; } }
#lijstbehandel ol {
  counter-reset: li;
  /* Initiate a counter */
  list-style: none;
  /* Remove default numbering */
  *list-style: decimal;
  /* Keep using default numbering for IE6/7 */
  font: 15px 'trebuchet MS', 'lucida sans';
  padding: 0;
  margin-bottom: 4em;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5); }
#lijstbehandel .rounded-list li {
  position: relative;
  display: block;
  padding: .4em .4em .4em 2em;
  *padding: .4em;
  margin: .5em 0;
  background: #ddd;
  color: #111;
  text-decoration: none;
  border-radius: .3em;
  transition: all .3s ease-out; }
#lijstbehandel .rounded-list li:hover {
  background: #eee; }
#lijstbehandel .rounded-list li:hover:before {
  transform: rotate(360deg); }
#lijstbehandel .rounded-list li:before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  left: -1.3em;
  top: 50%;
  margin-top: -1.3em;
  background: #1c1c1c;
  width: 2em;
  line-height: 2em;
  border: .3em solid #fff;
  text-align: center;
  font-weight: bold;
  border-radius: 2em;
  transition: all .3s ease-out;
  color: #fff; }

/*
.jumbotron{
    .container{   
        border: 1px solid #1c1c1c;
        background-color: #fff;
        opacity: 0.4;
    }
    h1,p{
        color: #1c1c1c;
    }
}*/

/*# sourceMappingURL=styles.css.map */
